<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <app-hero-heroes-item [hero]="hero" (clicked)="onClickItem($event)"></app-hero-heroes-item>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
  <ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "small" color = "#fff" type = "ball-8bits" fullScreen = "false"></ngx-spinner>
</ul>
<ul>
  <li *ngFor="let message of messages">{{message}}</li>
</ul>
